# Data
*.csv
*.des
*.pkl
*.png
*.pptx
*.jpg
*.zip

# Not these files
!IPO_year.csv

# compiled files
*.pyc

#Ipython
.ipynb_checkpoints/
# Created by .ignore support plugin (hsz.mobi)
### OSX template
.DS_Store
.AppleDouble
.LSOverride