# Data
*.csv
*.des
*.pkl
*.png
*.pptx
*.jpg
*.zip
*.hdf5
*.pdf
*.pickle

# Test Ipython Notebooks
test_notebook_wrds.ipynb

# Not these files
!IPO_year.csv

# compiled files
*.pyc

#Ipython
.ipynb_checkpoints/
# Created by .ignore support plugin (hsz.mobi)
### OSX template
.DS_Store
.AppleDouble
.LSOverride